.country-sidenav {
  > ul {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1px 0;
    @include display-flex();
    @include flex-direction(column);
    @include justify-content(space-between);
    box-sizing: border-box;

    > li {
      width: 100%;
      position: relative;
      border: 1px solid $dark;
      height: 100%;
      border-bottom: none;
      @include display-flex();
      @include align-items(center);

      a {
        color: #BEBCC2;
        display: block;
        height: 51px;
        width: 100%;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 14px;
        cursor: pointer;
        text-decoration: none;
        @include display-flex();
        @include align-items(center);
        padding: 0 30px 0 20px;

        .sidenav-icon {
          display: inline-block;
          position: absolute;
          top: 50%;
          right: 20px;
          @include transform-translate(0,-50%);
          width: 18px;
          height: 18px;
          svg{
            fill: #bebcc2;
          }
        }
        .no_def {
          svg{
            fill: $cGreen;
          }
        }
        &:hover {
          .circle {
            border: 1px solid $cGreen;
          }
          .sidenav-icon {
            svg{
              fill: $cGreen;
            }
          }
        }
      }
      &:hover {
        background: $dark;
      }
    }
  }

  .umdoptions_dialog {

  }
} // country-sidenav
